.navbarCustom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5vw;
  padding-left: 5vw;
  background-color: white;
}

.logoContainer {
  /* padding: 10px; */
  /* margin-left: 20px; */
}

.logo {
  border-radius: 30px;
  height: 80px;
}

.logo:hover {
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
  transition: 0.3s;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.864);
}

/* --------------------------------------- */

ul {
  /* margin: 150px auto 0; */
  padding: 0;
  list-style: none;
  display: table;
  text-align: center;
  width: 40vw;
}

li {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

.navbarItem {
  width: 10vw;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  color: rgba(0, 0, 0, 0.864);
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.navbarItem:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgba(0, 0, 0, 0.864);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbarItem:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}