.App {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;

}

.bodyContainer {
 display: flex;
 justify-content: center;
}

.bodyWrapper {
  width: 90%;
}