.card {
  background-image: linear-gradient(rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg');
  background-size: cover;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  padding: 0 15px;
}

.card:hover {
  background-image: linear-gradient(rgba(126, 126, 126, 0.25), rgba(126, 126, 126 ,0.25)), url('https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg');
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.75);
  transition: 0.3s;
  cursor: pointer;
}

.cardText {
  text-align: center;
}