header.header
  nav.nav.nav--recipes
    a.nav__el(href='#') All cookbooks
    a.nav__el(href='#') All recipes
  .header__logo
    img(src='img/logo-light.png', alt='Cookbook! logo')
  nav.nav.nav--user
    //- a.nav_el(href='#') My bookings
    //- a.nav_el(href='#')
      //- img.nav__user-img(src='img/user.jpg', alt='User photo')
      //- span Test User
    button.nav__el Log in
    button.nav__el.nav__el--cta Sign up